doctype html
html
  head
    - var title = title || "Team ToDo"
    title #{title}
    img(src= "http://www.feedhenry.com/wp-content/uploads/2013/08/fh-top-logo-sm.png")
    //Link to CSS
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Link to JQuery
    script(src='javascripts/jquery-1.11.0.min.js')

    // Link to JS file
    script(src='javascripts/script.js')

  body
    block content
